
@{
	ViewBag.Title = "Analyzed Files";
	Layout = "~/Views/_BasicLayout.cshtml";
}

	<body>
		<div>
			Files will be here
		</div>
		<br />
		<a href=@Url.Action("Analyze", "AnalyzedFiles") title="Analyze">  <button>Analyze</button> </a>
		<br />
		<a href=@Url.Action("AnalyzedFileList", "AnalyzedFiles") title="Analyzed Files">  <button>Analyzed File List</button> </a>
		<br />
		<a href=@Url.Action("Index", "Home") title="Home">  <button>Home</button> </a>
	</body>